.custom-file-label {
  overflow: hidden;
}

.puzzle-thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.puzzle-wrapper {
  display: grid;
  grid-gap: 1px;
}

.puzzle-wrapper * {
  user-select: none;
}

.puzzle-cell {
  position: relative;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.puzzle-cell:hover {
  border: 4px solid;
}

.puzzle-cell.empty:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6)
}