<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="skyduck">
  <meta name="copyright" content="skyduck">
  <meta name="description" content="Grid Puzzle | Sliding puzzle game using css grid">
  <meta name="subject" content="Grid Puzzle">
  <meta itemprop="name" content="Grid Puzzle">
  <meta itemprop="description" content="Grid Puzzle | Sliding puzzle game using css grid">
  <meta property="og:title" content="Grid Puzzle" >
  <meta property="og:url" content="https://skyduck0205.github.io/grid-puzzle/">
  <meta property="og:description" content="Grid Puzzle | Sliding puzzle game using css grid">
  <meta property="og:site_name" content="Grid Puzzle">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="author" href="https://github.com/skyduck0205">
  <title>Grid Puzzle</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body ng-app="GridPuzzle"
      ng-controller="AppController"
      ng-keydown="onKeyPress($event)">

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Grid Puzzle</a>
  </nav>

  <!-- Content -->
  <div class="container py-3">
    <form class="mb-3 container-fluid">
      <div class="row">
        <div class="input-group col col-md-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Image</span>
          </div>
          <div class="custom-file">
            <input id="imageFile" class="custom-file-input" type="file" accept="image/*" ng-model="image" ng-change="onImageChange()">
            <label class="custom-file-label" for="imageFile">{{file.name || 'fox.png'}}</label>
          </div>
        </div>

        <div class="input-group col col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Cols</span>
          </div>
          <input type="number" class="form-control" min="1" ng-model="cols" ng-change="onDimensionChange()">
        </div>

        <div class="input-group col col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Rows</span>
          </div>
          <input type="number" class="form-control" min="1" ng-model="rows" ng-change="onDimensionChange()">
        </div>

        <div class="input-group col col-md-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Size</span>
          </div>
          <input type="number" class="form-control" ng-model="size" min="0">
        </div>

        <div class="col col-md-2">
          <button type="button" class="btn btn-outline-dark" ng-click="shuffle()" ng-disabled="shuffleDisabled">Shuffle</button>
        </div>
      </div>
    </form>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Grid styles of the container:
          <div hljs hljs-source="wrapperStyle" hljs-language="css"></div>
        </div>
        <div class="col">
          Grid styles of the hovered cell:
          <div hljs hljs-source="cellStyle" hljs-language="css"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <p>Try to solve the puzzle by moving the cell through stroking keyboard [↑][↓][←][→] or mouse clicking a cell next to the dark one. The dark cell is at the bottom right of the image.</p>
      <div class="mb-3">
        Goal: <img class="puzzle-thumbnail" ng-src="{{image}}">
      </div>

      <div class="puzzle-wrapper border border-dark mb-3"
           ng-style="getWrapperStyle()">
        <div class="puzzle-cell"
             ng-repeat="cell in cells"
             ng-style="getCellStyle(cell)"
             ng-class="{ 'empty': cell.id === cells.length - 1 }"
             ng-click="onCellClick(cell)"
             ng-mouseover="onCellHover($event)">
        </div>
      </div>
    </div>
  </div>

  <!-- GitHub ribbon -->
  <a href="https://github.com/skyduck0205/grid-puzzle" target="_blank">
    <img style="position: fixed; top: 0; right: 0; border: 0; z-index: 2000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
  </a>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
  <script src="//pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>